__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/
.env
.vscode/

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

wandb/

ministral-8b-instruct-lora/
ministral-8b-instruct-merged/
Ministral-8B-Instruct-2410

*.log
ministral-8b-instruct-merged.gguf
experiments
